<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Cloud</title>

    <link rel="stylesheet" type="text/css" href="css/homeStyle.css">
</head>
<body>
    <header>
        <div class="navigate">
            <a class="active" href="#main">PizzaCloud</a> 
            <a href="#pizza">Пицца</a>
            <a href="#snacks">Закуски</a>
            <a href="#drinks">Напитки</a>
            <a class="auth-link" href="">Авторизоваться</a>
        </div>
    </header>
    <section class="info"> 
        <div class="info-img"></div>
    </section>
    <section class="main">
        <div class="main-title">
            <h2 class="main-title-title">
                Лучшая доставка пиццы в мире
            </h2>    
        </div>
    </section>
</body>
</html>